{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center" style="background: url(../static/images/whitetexture.jpg) no-repeat; background-size: cover; padding-top: 75px; margin-right: 0px;  background-color: darkslategrey; min-height: 550px">
        <div class="col-10 col-sm-5">
            <div class="reviewbox">
                <h4 style="border-bottom:1px solid black; padding-bottom: 5px; ">1000 Tweets Analysed for hashtag {{movie_name}}:</h4>
                <h6 style="color: black; font-weight: 800;">Super: {{ c_pos }}%</h6>
                <h6 style="color: black; font-weight: 800;">Average: {{ c_neu }}%</h6>
                <h6 style="color: black; font-weight: 800;">Bad: {{ c_neg }}%</h6>
            </div>
        </div>
        <div class="col-10 col-sm-5">
            
        </div>
    </div>
{% endblock %}